@page
@model Learn_Academy.Pages.Courses.DetailsModel
@using Microsoft.EntityFrameworkCore;
@using Learn_Academy.Models;
@section styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
@{
    Course CurrentCoruse = (Course)ViewData["Current_Course"];
    ViewData["Title"] = "Details";
}

<div class="custom-cart-button"><a style="padding:10px;text-decoration:none;position:relative;top:10px;bottom:10px;" class="Add-to-Cart" asp-area="" asp-page="./Index"><span>Back to List</span></a></div>

<div style="background-color: #1E1E1C;min-height: 40vh;padding: 6%;">
    <div>

        <h1 style="color: white;">@Html.DisplayFor(model => model.Course.Name)</h1>


        <p><span style="color: white;">Last updated: @Html.DisplayFor(model => model.Course.CourseDate)</span></p>
            <p><span style="color: white;">@Html.DisplayFor(model => model.Course.Author)</span></p>
    </div>
    <div style="background-color:white;position:absolute;width:420px;left:55%;top:20%;border: 1px solid black;text-align:center;padding-top:1%;">
        <img src="~/uploads/image/@Html.Raw(CurrentCoruse.image)" style="width:400px;height:auto;" alt="Alternate Text" />
        <div style="padding:5%">
        </div>
        <div style="text-align:center;">
            @{bool NotAMember = true;
                @foreach (var item in (List<Membership>)ViewData["Membership"])
                {
                    @if (item.ApplicationUser.Email == User.Identity.Name && DateTime.Now <= item.ExpiryDate)
                    {
                        <div class="custom-cart-button"><a style="padding:10px;text-decoration:none;" class="Add-to-Cart" asp-route-id="@((int)ViewData["CurrentID"])" asp-page="/Courses/View"><span>Start Course</span></a></div>
                        NotAMember = false;
                        break;
                    }
                    <script>console.log('test')</script>
                }

                @if (NotAMember)
                {
                    if (CurrentCoruse.Author == User.Identity.Name)
                    {
                        <div class="custom-cart-button"><a style="padding:10px;text-decoration:none;" class="Add-to-Cart" asp-route-id="@((int)ViewData["CurrentID"])" asp-page="/Courses/View"><span>See Course</span></a></div>
                    }
                    else
                    {
                        <div class="custom-cart-button"><a style="padding:10px;text-decoration:none;" class="Add-to-Cart" asp-area="" asp-page="/Purchase/Create"><span>Sign Up Now</span></a></div>
                    }

                }
            }

        </div>
    </div>

</div>
<section>
    <div style="width:30vw;margin-left:10px;">
        <h2>Description</h2>
        <h6>
            @Html.DisplayFor(model => model.Course.Description)
        </h6>
    </div>
</section>