@page
@model Learn_Academy.Pages.Courses.DetailsModel
@section styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "Details";
}
@*
    <div>
        <h4>Course</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.CourseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.CourseDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Author)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Course.ID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
*@
<div class="custom-cart-button"><a style="padding:10px;text-decoration:none;position:relative;top:10px;bottom:10px;" class="Add-to-Cart" asp-area="" asp-page="./Index"><span>Back to List</span></a></div>

<div style="background-color: #1E1E1C;min-height: 40vh;padding: 6%;">
    <div>

        <h1 style="color: white;">@Html.DisplayFor(model => model.Course.Name)</h1>

        <p><span style="color: white;">Last updated: @Html.DisplayFor(model => model.Course.CourseDate)</span></p>
        <p><span style="color: white;">@Html.DisplayFor(model => model.Course.Author)</span></p>
    </div>
    <div style="background-color:white;position:absolute;width:420px;left:55%;top:20%;border: 1px solid black;text-align:center;padding-top:1%;">
        <img src="https://st.depositphotos.com/1364311/1336/i/950/depositphotos_13360079-stock-photo-girl-studying-in-library.jpg" style="width:400px;height:auto;" alt="Alternate Text" />
        <div style="padding:5%">
        </div>
        <div style="text-align:center;">
            <div class="custom-cart-button"><a style="padding:10px;text-decoration:none;" class="Add-to-Cart" asp-area="" asp-page="/Purchase/Index"><span>Sign Up Now</span></a></div>
        </div>
    </div>

</div>
<section>
    <div style="width:30vw;margin-left:10px;">
        <h2>Description</h2>
        <h6>
            @Html.DisplayFor(model => model.Course.Description)
        </h6>
    </div>
</section>
<section>
    <div>
        <h2>Ratings & Reviews</h2>
        @*@foreach (var item in Model.Rating)
        {

        }
        *@
    </div>
</section>