@page
@model Learn_Academy.Pages.Courses.IndexModel
@section Scripts 
{
    <script src="@Url.Content("https://kit.fontawesome.com/9c3fdd9015.js")"></script>
}
@{
    ViewData["Title"] = "Index";
}
<style>

.custom-wrap-details {
    justify-content: space-around;
    color: white;
    margin-top: 10px;
}
.custom-wrap-details h2 {
    font-size: 20px;
}

.draft-container-wrap {
    margin-bottom: 10vh;
    display: block;
}

.draft-container {

    position: relative;
    display: inline-block;
}

.draft-image {
    width: 98vw;
    min-height: 200px;
}

.draft-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
}

.draft-text h1, .draft-text h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.draft-text h1 {
    font-size: 5rem;
}

.custom-search-bar {
     min-width: 45vw;
}

    </style>

<div id="banner" class="draft-container-wrap">
    <div class="draft-container">
        <img class="draft-image img-fluid" src="https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Experience" />
        <div class="draft-text">
            <div class="custom-wrap-Titles">
                <h1 style="font-size: 40px;">
                    The World's best Online Learning Platform <br />
                    Only at Learn Academy
                </h1>
            </div>
            <form method="get">
                <div class="input-group custom-search-bar">
                    <input class="form-control" asp-for="searchCourses" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <div class="d-flex custom-wrap-details">
                <h2 style="color:yellow;">More than 10,000 Courses</h2>
                <h2 style="color:turquoise;">Over 300,000 Students</h2>
                <h2 style="color:red;">Start Learning Now</h2>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CourseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
