@page
@model Learn_Academy.Pages.Courses.Ratings.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.CourseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.CourseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.CourseRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.CourseRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.CourseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.CourseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating.Author)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rating.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
