@page
@model Learn_Academy.Pages.Courses.Ratings.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].CourseRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].CourseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rating) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
